.articleCard {
  width: 30em;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 2.5%;
  text-align: center;
  display: grid;
  grid-template: 0fr / 2fr 2fr;
  color: black;
  box-shadow: 0.1px 0.1px 3px 1px black;
  background-color: whitesmoke;
  border-radius: 5px;
}

.article_title {
  color: black;
  font-size: xx-large;
  text-align: center;
  margin-right: 275px;
}

.article_card_title {
  color: #ff9900;
}

.articleLink {
  text-decoration: none;
}

.article_list {
  list-style: none;
}

.addArticleMsg {
  font-size: 20px;
  margin-right: 260px;
}

.singleArticleById {
  width: 30em;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 20px;
  text-align: center;
  display: grid;
  width: 60%;
  color: black;
  box-shadow: 0.1px 0.1px 3px 4px silver;
  background-color: whitesmoke;
}

.singleArticle_generalinfo {
  font-weight: bold;
}

.singleArticleBody {
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 414px) {
  .singleArticleById {
    width: 25em;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 20px;
    text-align: center;
    display: grid;
    color: black;
    box-shadow: 0.1px 0.1px 3px 4px silver;
    background-color: whitesmoke;
  }

  .articleCard {
    width: 24em;
    margin-left: -25px;
    margin-bottom: 20px;
    margin-top: 2.5%;
    text-align: center;
    display: grid;
    grid-template: 0fr / 2fr 2fr;
    color: black;
    box-shadow: 0.1px 0.1px 3px 1px black;
    background-color: whitesmoke;
    border-radius: 5px;
  }

  .article_card_title {
    color: #ff9900;
    margin-left: 10px;
  }

  .addArticleMsg {
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .article_title {
    text-align: center;
    margin-left: 170px;
    margin-right: 170px;
    padding: 0;
    margin-bottom: -10px;
  }
}
