.headerTitleLetter {
  color: #ff9900;
}

.headerContainer {
  background-color: #202829;
  display: grid;
  grid-template-areas:
    'title title'
    'logIn';
}

.NCNewsTitle {
  font-size: 45px;
  font-weight: lighter;
  color: whitesmoke;
  color: white;
  text-shadow: 1px 1px 4px whitesmoke;
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
}

.userContainer {
  color: white;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.userButton {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  position: absolute;
  right: 0;
}

.usersOptions {
  margin-left: 5px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
  padding: 0.2em 0.2em 0.4em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.login-message {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 9px;
}

.currentUser {
  margin-bottom: 5px;
}
