.headerTitleLetter {
  color: #ff9900;
}

.header_container {
  background-color: #6e0909;
  display: flex;
  flex-direction: row;
}

.NCNewsTitle {
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  margin-left: 15px;
  margin: 0px;
}

.userButton {
  text-align: right;
  position: absolute;
  right: 0;
}

.usersOptions {
  margin-left: 5px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
  padding: 0.2em 0.2em 0.4em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.user-container {
  color: white;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.login-message {
  margin-right: 5px;
  margin-top: 5px;
}
