.navigationBar {
  background-color: rgb(150, 30, 30);
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

.home-link {
  color: whitesmoke;
  text-decoration: none;
  margin-right: 35px;
}

.homeIcon {
  width: 18%;
  margin-right: 10px;
  filter: invert(100%);
  margin-top: 2px;
}

.users-link {
  color: whitesmoke;
  text-decoration: none;
  margin-right: 20px;
}

.userIcon {
  width: 27.4%;
  margin-left: 5.5px;
  margin-right: 8px;
  filter: invert(100%);
  margin-top: 2px;
  margin-bottom: -5px;
}

.users-link:hover {
  font-weight: bold;
}

.home-link:hover {
  font-weight: bold;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
}

.topic-link {
  color: whitesmoke;
  text-decoration: none;
  margin-right: 25px;
}

.topicIcon {
  width: 18%;
  margin-right: 10px;
  filter: invert(100%);
}

.topic-link:hover {
  font-weight: bold;
}

.articles-link {
  color: whitesmoke;
  text-decoration: none;
}

.articleIcon {
  width: 18%;
  margin-right: 10px;
  filter: invert(100%);
}

.articles-link:hover {
  font-weight: bold;
}

.navigationContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 414px) {
  .home-link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 0;
    font-size: 15px;
  }

  .topic-link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 20px;
    font-size: 15px;
  }

  .articles-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    margin-left: -10px;
  }

  .users-link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
  }

  .navigationBar {
    background-color: rgb(150, 30, 30);
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    width: 390px;
  }

  .navigationContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .navigationBar > div {
    margin-bottom: -30px;
  }

  .navigationContainer > div {
    width: 100px;
  }

  .home-li {
    margin: 0;
  }

  .topic-li {
    margin: 0;
  }

  .article-li {
    margin: 0;
  }

  .users-li {
    margin: 0;
  }
}
