.topic_card {
  width: 30em;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
  margin: auto;
  width: 350px;
  height: 190px;
  color: black;
  box-shadow: 0.1px 0.1px 3px 1px black;
  background-color: whitesmoke;
  border-radius: 5px;
}

.topics_title {
  color: black;
  text-align: center;
}

.topicName {
  font-size: 25px;
}

.topicLink {
  text-decoration: none;
  color: #ff9900;
  overflow: hidden;
}

.topicName:hover {
  background-color: #202829;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
}

.descriptionTitle {
  font-weight: bold;
}

.addTopicMsg {
  font-size: 20px;
}

.addTopicTitle {
  margin-right: 10px;
  margin-left: 55px;
  font-size: 20px;
}

.addDescription {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submitTopicButton {
  background-color: #202829;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 13px 25px;
  text-decoration: none;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.submitTopicButton:hover {
  background-color: rgb(150, 30, 30);
}

@media screen and (max-width: 414px) {
  .addTopicTitle {
    margin-left: 5px;
  }

  .addDescription {
    margin-left: 10px;
  }

  input[type='text'] {
    padding: 10px 10px;
    margin: 8px 100px;
    box-sizing: border-box;
  }
}
