.App {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 80px auto;
  grid-template-areas:
    'header header'
    'sideBar mainContent';
  min-height: 100vh;
}

.headerContainer {
  grid-area: header;
}

.userButton {
  grid-area: header;
}

.navigationBar {
  grid-area: sideBar;
}

.routeDiv {
  grid-area: mainContent;
}

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

.mostPopularTitle {
  padding-top: 20px;
  color: black;
  text-align: center;
  margin-left: 50px;
}

.articleListContainer {
  list-style: none;
}
