.App {
  text-align: left;
  display: grid;
  font-family: 'Catamaran', sans-serif;
}

.mostPopularTitle {
  padding-top: 20px;
  color: black;
  text-align: center;
}

.articleListContainer {
  list-style: none;
}
