.App {
  text-align: center;
  display: grid;
  font-family: 'Catamaran', sans-serif;
  background-color: #2f303a;
}

.mostPopularTitle {
  padding-top: 20px;
  color: whitesmoke;
}

.articleListContainer {
  list-style: none;
}
